// ==================================================================
//                         Variables de color
$dark: #3a3838;
$blancoRoto: #f7ede5;
$totalmenteBlanco: #fff;
$azulOscuro: #343d5b;
$negroTransparente: rgba(0, 0, 0, 0.2);
$naranja: #ffa500;
$totalmenteNegro: #000000;
$blancoSwitch: #f1f1f1;
$whatsapp: #92d36e;
// ==================================================================
//                                Tamaños
$iconos: 28px;

// ==================================================================
//                         fuentes de texto
//                             allerta
@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");

// ==================================================================
/* Colores del cuerpo */
body {
    background: $blancoRoto;
    transition: 0.3s ease all;
    margin: auto !important;
    width: 90%;
    height: 100%;
    overflow-x: hidden;
    &.dark {
        /* modo oscuro */
        background-color: $dark;
        width: 90%;
        height: 100%;
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $blancoRoto;
        }
    }
    .fa-whatsapp {
        //icono whatsapp
        color: $whatsapp;
        font-size: $iconos;
    }
    .fa-key {
        //icono login
        color: $blancoSwitch;
        font-size: 16px;
    }
    header {
        svg {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 998;
            width: 100%;
        }
        .navbarLogo {
            z-index: 999;
            padding-left: unset;
            padding-right: unset;
            position: fixed;
            top: 0;
            left: 0;

            #logo {
                width: 29%;
                position: fixed;
                padding-left: 2%;
            }
            .row {
                padding-left: 123px;
                padding-top: 3%;
                .botonesHead {
                    padding-left: 10px;
                    a {
                        font-family: "Allerta", sans-serif;
                        color: $blancoRoto;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    main {
        margin: 9rem 0;

        p {
            margin: 3rem;
        }
        /* Titulos de la página*/
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
        }
    }
    /*enlaces*/
    nav {
        transition: 0.3s ease all;
        a {
            color: $dark;
            text-decoration: none;
        }
        body.dark & {
            a {
                /* modo oscuro */
                color: $blancoRoto;
                &:hover {
                    color: $blancoRoto;
                }
            }
        }
    }

    /* estilos de boton Claro / Oscuro */
    .switch {
        background: $azulOscuro;
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            background: $blancoSwitch;
            top: 0;
            left: 0; /* Para cuando cambiemos la posición del boton*/
            right: unset; /* Para cuando cambiemos la posición del boton*/
            border-radius: 100px;
            transition: 0.3s ease all;
            box-shadow: 0px 0px 2px 2px $negroTransparente;
        }
        &.active {
            background: $naranja;
            color: $totalmenteNegro;
            &::after {
                right: 0;
                left: unset;
            }
        }
        span {
            width: 23px;
            height: 29px;
            line-height: 30px;
            display: block;
            background: none;
            color: $totalmenteBlanco;
        }
    }

    .escondido {
        display: none;
    }
}

// =================== Media Queries ========================== //
//Tablet
@media (min-width: 481px) {
    body {
        header {
            svg {
                height: 29%;
            }
            .navbarLogo {
                #logo {
                    width: 21%;
                    position: fixed;
                    padding-left: 12%;
                }
                .row {
                    padding-left: 73%;
                    padding-top: 1%;
                }
            }
        }
    }
}

//Web
@media (min-width: 1025px) {
    body {
        header {
            svg {
                height: 90%;
            }
            .navbarLogo {
                #logo {
                    width: 23%;
                    position: fixed;
                    padding-left: 12%;
                }
                .row {
                    padding-left: 81%;
                    padding-top: 1%;
                }
            }
        }
    }
}
