@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");
:root {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Colores del cuerpo */
body {
  background: #f7ede5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  margin: auto !important;
  width: 90%;
  height: 100%;
  overflow-x: hidden;
  /*enlaces*/
  /* estilos de boton Claro / Oscuro */
}

body.dark {
  /* modo oscuro */
  background-color: #3a3838;
  width: 90%;
  height: 100%;
}

body.dark p,
body.dark h1,
body.dark h3,
body.dark h5,
body.dark h6,
body.dark label,
body.dark li {
  color: #f7ede5;
  font-family: "Allerta", sans-serif;
}

body.dark h2,
body.dark h4 {
  color: #979797;
}

body.dark #hora {
  color: #f7ede5;
}

body .fa-whatsapp {
  color: #92d36e;
  font-size: 28px;
}

body .fa-key {
  color: #f1f1f1;
  font-size: 16px;
}

body .fa-check {
  color: #92d36e;
}

body header svg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 996;
  width: 100%;
}

body header .navbarLogo {
  z-index: 999;
  padding-left: unset;
  padding-right: unset;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body header .navbarLogo #logo {
  width: 29%;
  position: fixed;
  padding-left: 2%;
}

body header .navbarLogo .row {
  padding-left: 123px;
  padding-top: 3%;
}

body header .navbarLogo .row .botonesHead {
  padding-left: 10px;
}

body header .navbarLogo .row .botonesHead a {
  font-family: "Allerta", sans-serif;
  color: #f7ede5;
  text-decoration: none;
  text-transform: capitalize;
}

body main {
  margin: 9rem 0;
  /* Titulos de la página*/
}

body main p {
  margin: 3rem;
  font-family: "Allerta", sans-serif;
}

body main li {
  list-style-type: none;
}

body main h1,
body main h2,
body main h3,
body main h4,
body main h5,
body main h6 {
  text-align: center;
  font-family: "Allerta", sans-serif;
}

body main h2,
body main h4 {
  background-color: #000000;
  color: #f7ede5;
}

body main #wgs_widget_51_1403353076147 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #wgs_widget_51_1403353076147 #wgs-curr #wgs-datetime {
  color: #000000;
}

body main #windguruPiles {
  z-index: 998;
}

body main .webcam #hora {
  font-family: "Allerta", sans-serif;
  color: #3a3838;
  text-align: center;
}

body main .webcam #webcam-visor {
  padding-bottom: 47%;
}

body main .webcam #webcam-visor .imgcam {
  width: 100%;
}

body main #surfImg {
  display: none;
}

body main #meteo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body main #maps {
  width: 100%;
  height: 350px;
  border: 0;
}

body main #cal {
  height: 300px;
}

body main .carousel-indicators {
  z-index: 999;
}

body main .carousel-control-prev {
  z-index: 999;
}

body main .carousel-control-next {
  z-index: 999;
}

body main .carousel-caption.d-md-block {
  z-index: 999;
}

body main .imgCamara {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline;
}

body footer #nav-mobile a {
  text-decoration: none;
}

body.dark main #wgs_widget_51_1403353076147 #wgs-curr #wgs-datetime {
  color: #979797;
}

body.dark main .webcam #hora {
  color: #979797;
}

body nav {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  /*body.dark & {
            a {
                color: $blancoRoto;
                &:hover {
                    color: $blancoRoto;
                }
            }
        }*/
}

body nav a {
  color: #3a3838;
  text-decoration: none;
}

body .switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

body .switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  /* Para cuando cambiemos la posición del boton*/
  right: unset;
  /* Para cuando cambiemos la posición del boton*/
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

body .switch.active {
  background: #ffa500;
  color: #000000;
}

body .switch.active::after {
  right: 0;
  left: unset;
}

body .switch span {
  width: 23px;
  height: 29px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

body .escondido {
  display: none;
}

@media (min-width: 481px) {
  body header svg {
    height: 11%;
  }
  body header .navbarLogo #logo {
    width: 23%;
    position: fixed;
    padding-left: 12%;
  }
  body header .navbarLogo .row {
    padding-left: 57%;
    padding-top: 1%;
  }
  body main {
    margin: 8rem 0;
  }
  body main .webcam #webcam-visor {
    padding-bottom: 58%;
  }
  body main #ios {
    margin-right: 3%;
  }
  body main #viento {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body main #maps {
    height: 450px;
  }
  body main #cal {
    height: 450px;
  }
}

@media (min-width: 1025px) {
  body header svg {
    height: 19%;
  }
  body header .navbarLogo #logo {
    width: 19%;
    position: fixed;
    left: 6%;
  }
  body header .navbarLogo .row {
    padding-left: 79%;
    padding-top: 1%;
  }
  body main {
    margin: 9rem 0;
  }
  body main .webcam #webcam-visor {
    padding-bottom: unset;
  }
  body main .webcam #webcam-visor .imgcam {
    width: 100%;
    height: 362px;
  }
  body main #surfImg {
    display: block;
    width: 100%;
    height: 100%;
  }
  body main #meteo {
    padding-left: 50%;
  }
  body main #cal {
    height: 100%;
  }
}
/*# sourceMappingURL=style_index.css.map */