// ==================================================================
//                         Variables de color
$dark: #3a3838;
$blancoRoto: #f7ede5;
$totalmenteBlanco: #fff;
$azulOscuro: #343d5b;
$negroTransparente: rgba(0, 0, 0, 0.2);
$naranja: #ffa500;
$totalmenteNegro: #000000;
$blancoSwitch: #f1f1f1;
$whatsapp: #92d36e;
// ==================================================================

/* Colores del cuerpo */
body {
    background: $blancoRoto;
    transition: 0.3s ease all;
    background: url(../img/fondoClaro.png) no-repeat;
    width: 90%;
    height: 100%;

    &.dark {
        /* modo oscuro */
        background-color: $dark;
        //background: url(../img/fondoOscuro.png) no-repeat;
        width: 90%;
        height: 100%;
    }
    .fa-whatsapp {
        color: $whatsapp;
        font-size: 30px;
    }
    .fa-key {
        color: $blancoSwitch;
        font-size: 30px;
    }
}

/* Titulo H1 de la página*/
h1 {
    body.dark & {
        /* modo oscuro */
        color: $blancoRoto;
    }
}
/*enlaces*/
nav {
    transition: 0.3s ease all;
    a {
        color: $dark;
        text-decoration: none;
    }
    body.dark & {
        a {
            /* modo oscuro */
            color: $blancoRoto;
            &:hover {
                color: $blancoRoto;
            }
        }
    }
}

/* estilos de boton Claro / Oscuro */
.switch {
    background: $azulOscuro;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: $blancoSwitch;
        top: 0;
        left: 0; /* Para cuando cambiemos la posición del boton*/
        right: unset; /* Para cuando cambiemos la posición del boton*/
        border-radius: 100px;
        transition: 0.3s ease all;
        box-shadow: 0px 0px 2px 2px $negroTransparente;
    }
    &.active {
        background: $naranja;
        color: $totalmenteNegro;
        &::after {
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: $totalmenteBlanco;
    }
}

.escondido {
    display: none;
}
