.module {
  margin: 0 0 1em 0;
  overflow: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.img_resize{
  p  {
   img{
     width: 50%;
   }
  }
}